@import 'variables';

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

html {
  font-family: "Quicksand", sans-serif;
  font-size: 11.5pt;
  font-weight: 400;
  height: 100%;
  color: $primary;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: $background;
}

.hardiman_website {
  height: 100%;
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    line-height: 70px;
    background-color: white;
    z-index: 3;
  }
  .wrapper {
    overflow: hidden;
    min-height: calc(100vh - 100px);
    main {
      margin-top: 70px;
    }
  }
  footer {
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #065e10 ;
  }
}
