@import 'colours';

html {
  font-family: "Quicksand", sans-serif;
  font-size: 11.5pt;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

div.hardiman_website {
  color: $primary;
}

header.header {
  height: 50px;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  line-height: 50px;
}

a {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
