@import 'colours';

html {
  font-family: "Quicksand", sans-serif;
  font-size: 11.5pt;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
}

div.hardiman_website {
  color: $primary;
}

.main {
  margin: 0 80px;
  @media only screen and (max-width: 1000px) {
    margin: 0;
  }
}

header.header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  line-height: 80px;
  background-color: white;
  z-index: 3;
}

a {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
