@import 'colours';

div.nav_bar {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .nav_link {
    color: $primary;
    font-size: 1.7em;
    padding: 0 15px;
    display: inline-block;
    position: relative;
    left: 70px;
    &:hover,
    &:focus {
      @media (hover) {
        color: $hover !important;
      }
    }
    @media only screen and (max-width: 600px) {
      font-size: 1.2em;
      padding: 0 5px;
    }
  }

  h3.mobile {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 25px;
    font-size: 1.5em;
    font-weight: 400;
  }
}
